#main-footer {
    color: var(--primary-text-color);
    position: fixed;
    bottom: 0;
    width: 80%;
    left: 10%;
    background-color: var(--primary-bg-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    user-select: none;
    -webkit-user-drag: none;
}

.footer-container {
    flex: 1;
    text-align: center;
    color: var(--primary-text-color);
}

.footer-container.left,
.footer-container.right {
    text-align: center;
}
.footer-container.center {
    text-align: center;
}