html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    background: url('../assets/images/background2.png') no-repeat center center fixed;
    background-size: cover;
    color: var(--primary-text-color);
}